In [ ]:
#18
dict1={'manu':5,'sam':6,'jovan':7,'john':6}
dict2={'jaison':8,'justin':3,'Riya':9}
dict1.update(dict2)
print('updated dictinary1:')
print(dict1)

updated dictinary1:
{'manu': 5, 'sam': 6, 'jovan': 7, 'john': 6, 'jaison': 8, 'justin': 3, 'Riya': 9}

In [ ]:
#19
a=int(input("Enter a:"))
b=int(input("Enter b:"))
if a<b:
  smaller=a
else:
  smaller=b
for i in range(1,smaller+1):
  if a%i==0 and b%i==0:
    gcd=i

print("The gcd is",gcd)

Enter a:10
Enter b:4
The gcd is 2

In [ ]:
#14
a=int(input("Enter the number:"))
n1=int("%s"%a)
n2=int("%s%s"%(a,a))
n3=int("%s%s%s"%(a,a,a))
print(n1+n2+n3)

Enter the number:4
492

In [ ]:
#11
n1=int(input("Enter first number:"))
n2=int(input("Enter second number:"))
n3=int(input("Enter third number"))
if n1>n2 and n1>n3:
  print("Biggestn number is:",n1)
elif n2>n3:
    print("Biggest number is:",n2)
else:
  print("Biggest number is:",n3)

Enter first number:4
Enter second number:8
Enter third number9
Biggest number is: 9

In [ ]:
x=[ ]
n=int(input("Enter list items:"))
for i in range(1,n+1):
  a=int(input("Enter the values of %d item:"%i))
  x.append(a)
for i in x:
    if(i%2 == 0):
      x.remove(i)
print("list after removing even numbers:")
print(x)

Enter list items:4
Enter the values of 1 item:3
Enter the values of 2 item:5
Enter the values of 3 item:7
Enter the values of 4 item:8
list after removing even numbers:
[3, 5, 7]

In [ ]:
#10
import math
radius=float(input("Enter the radius of the circle:"))
area=math.pi*radius*radius
print("Area of the circle is:{0}".format(area))

Enter the radius of the circle:10
Area of the circle is:314.1592653589793

In [ ]:
color_list=["Red","Green","While","Black"]
print(color_list[0],color_list[-1])

Red Black

In [ ]:
color_list1=set(["white","Black","Red"])
color_list2=(["Red","Green"])
print(color_list1.difference(color_list2))

{'Black', 'white'}

In [ ]:
#16
x=input("Enter the first string:")
y=input("Enter the second string:")
def chars(x,y):
  a=y[:2] + x[2:]
  b=x[:2] + y[2:]
  return a + ' ' + b
print(chars(x,y))

Enter the first string:abc
Enter the second string:xyz
xyc abz

In [ ]:
c=[]
x=int(input("Enter the limit:"))
for i in range(1,x+1):
  a=input()
  c.append(a)
print(c)
print(c[0],c[-1])

Enter the limit:4
yellow
blue
green
black
['yellow', 'blue', 'green', 'black']
yellow black

In [ ]:
#12
filename=input("Enter the filename:" )
x=filename.split(".")
print("The extension of the file is",x[-1])

Enter the filename:abc.java
The extension of the file is java

In [ ]:
#2
s=int(input("Enter starting year:"))
e=int(input("Enter ending year:"))
print("leap year between",s,"and",e)
while(s<=e):
  if((s%400==0) or ((s%4==0) and (s%100!=0))):
    print(s)
  s=s+1

Enter starting year:2000
Enter ending year:2021
leap year between 2000 and 2021
2000
2004
2008
2012
2016
2020

In [ ]:
#3(a)
list1 = [11,-21,45,66,-56,-43]
for num in list1:
  if num>=0:
    print(num, end =" ")

11 45 66

In [ ]:
#3(c)
w=input("Enter any Word:")
v=[l for l in w if l in 'aeiou']
print("List of vowels in",w,":",v)

Enter any Word:umberlla
List of vowels in umberlla : ['u', 'e', 'a']

In [ ]:
#3(d)
w=input("Enter any word:")
for l in range (len(w)):
  print("ASCII value is" ,w[l],"is",ord(w[l]))

Enter any word:box
ASCII value is b is 98
ASCII value is o is 111
ASCII value is x is 120

In [ ]:
#5
x=[]
n=int(input("Enter any integer:"))
for i in range (1,n+1):
  a=int(input())
  if (a>100):
    x.append('over')
  else:
      x.append(a)
print("Modified list:",x)

Enter any integer:4
20
80
200
100
Modified list: [20, 80, 'over', 100]

In [ ]:
#9
def change(str):
  return str[-1] + str[1:-1] + str[:1]
str=input("Enter any string:")
print("Modfied string:",change(str))

Enter any string:python
Modfied string: nythop

In [ ]:
#8
str=input("Enter any string:")
def rep_ch(str1):
  char=str1[0]
  str1=str1.replace(char,'$')
  str1=char+str1[1:]
  return str1
print(rep_ch(str))

Enter any string:onion
oni$n

In [ ]:
#6
l=[]
x=int(input("Enter the limit:"))
for i in range(1,x+1):
  x=input("Enter the first name:")
  l.append(x)
  count=x.count('a')
  print("Number of time a is present in name:",count)

Enter the limit:2
Enter the first name:amala
Number of time a is present in name: 3
Enter the first name:anisha
Number of time a is present in name: 2

In [ ]:
#7
x=[]
a=int(input("Enter limit for list1:"))
for i in range (1,a+1):
  a=int(input())
  x.append(a)
print(x)
y=[]
b=int(input("Enter limit for list2:"))
for i in range(1,b+1):
  b=int(input())
  y.append(b)
print(y)
if(len(x)==len(y)):
  print("list1 and list2 are of same length ie",len(x))
else:
  print("list1 and list2 are of different length. ")
if(sum(x)==sum(y)):
  print("list1 and list2 sums to the same value ie",sum(x))
else:
  print("list1 and list2 sums up to different values.")
def common(x, y):
    p=set(x)
    q=set(y)
    if len(p.intersection(q))>0:
       return(p.intersection(q))
    else:
        return("no common elements")
print("value that occur in both lists is :",common(x,y))

Enter limit for list1:3
9
6
3
[9, 6, 3]
Enter limit for list2:3
9
7
2
[9, 7, 2]
list1 and list2 are of same length ie 3
list1 and list2 sums to the same value ie 18
value that occur in both lists is : {9}

In [ ]:
#4
def word_count(str):
    counts = dict()
    words = str.split()
    for word in words:
        if word in counts:
           counts[word] += 1
        else:
             counts[word] = 1
    return counts
str =input("Enter any text:")
print(word_count(str))

Enter any text:The quick brown fox jumps over the lazy dog
{'The': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'the': 1, 'lazy': 1, 'dog': 1}

In [ ]:
#3(b)
x=[]
n=int(input("Enter list of items:"))
for i in range (1,n+1):
    a=int(input("Enter the value of %d item:"%i))
    x.append(a)
b=(num**2 for num in x)
print("Initial list of N numbers:",x)
y=list(b)
print("Square list of N numbers :",y)

Enter list of items:4
Enter the value of 1 item:1
Enter the value of 2 item:2
Enter the value of 3 item:3
Enter the value of 4 item:4
Initial list of N numbers: [1, 2, 3, 4]
Square list of N numbers : [1, 4, 9, 16]

In [ ]:
#17
d={'carl':40,'alan':2,'bob':1,'danny':3}
l=list(d.items())
l.sort()
print("Ascending order is:",l)
l=list(d.items())
l.sort(reverse = True)
print("Descending order is:",l)

Ascending order is: [('alan', 2), ('bob', 1), ('carl', 40), ('danny', 3)]
Descending order is: [('danny', 3), ('carl', 40), ('bob', 1), ('alan', 2)]

In [ ]:
#1
n=input("Enter your house number:")
hname=input("Enter your house name:")
country=input("Enter your country:")
state=input("Enter your state:")
district=input("Enter your district:")
pin=int(input("Enter your postcode:"))
print("\nAddress Details :\n  \nHousenumber :",n,"\nHouse :",hname,"\nCountry : ",country,"\nState : ",state,"\nPostcode : ",pin)

Enter your house number:512
Enter your house name:vadakkemulanjanal
Enter your country:India
Enter your state:kerala
Enter your district:kottayam
Enter your postcode:686651

Address Details :

Housenumber : 512
House : vadakkemulanjanal
Country :  India
State :  kerala
Postcode :  686651