In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
a=1
print("The value of",a,"is of the type",type(a))
b="hello"
print("The value of",b,"is of the type",type(b))
c=3.14
print("The value of",c,"is of the type",type(c))
d=2j
print("The value of",d,"is of the type",type(d))
e={"apple","banana","cherry"}
print("The value of",e,"is of the type",type(e))
f=("apple","banana","cherry")
print("The value of",f,"is of the type",type(f))
g=["apple","banana","cherry"]
print("The value of",g,"is the of type",type(g))
h=range(5)
print("The value of",h,"is of the type",type(h))
i=True
print("The value of",i,"is of the type",type(i))

The value of 1 is of the type <class 'int'>
The value of hello is of the type <class 'str'>
The value of 3.14 is of the type <class 'float'>
The value of 2j is of the type <class 'complex'>
The value of {'banana', 'apple', 'cherry'} is of the type <class 'set'>
The value of ('apple', 'banana', 'cherry') is of the type <class 'tuple'>
The value of ['apple', 'banana', 'cherry'] is the of type <class 'list'>
The value of range(0, 5) is of the type <class 'range'>
The value of True is of the type <class 'bool'>

In [4]:
num=int(input("Enter the integer:"))
print("You Entered",num)

Enter the integer:4
You Entered 4

In [5]:
num1=5
num2=7
sum=num1+num2
print("The sum of given numbers is:",sum)

The sum of given numbers is: 12

In [6]:
num1=float(input("Enter first number:"))
num2=float(input("Enter second number:"))
mul=num1*num2
print("The product of given number is:",mul)

Enter first number:4.6
Enter second number:8.9
The product of given number is: 40.94

In [ ]:
x=int(input("Enter a number \n"))
if (x % 2) == 0:
   print("{0} is even".format(x))
else:
    print("{0} is odd".format(x))

Enter a number
2
2 is even

In [ ]:
print("Enter 3 numbers \n")
x=int(input())
y=int(input())
z=int(input())
if(x>y and x>z):
  print("{0} is the greatest among the given 3 numbers".format(x))
if(y>x and y>z):
  print("{0} is the greatest among the given 3 numbers".format(y))
else:
    print("{0} is the greatest among the given 3 numbers".format(z))

Enter 3 numbers

4
6
3
6 is the greatest among the given 3 numbers

In [ ]:
x=(input("Enter your alphabet \n"))
if(x=='a' or x=='e' or x=='i'or x=='o' or x=='u' or x=='A' or x=='E' or x=='I' or x=='O' or x=='U'):
  print(x,"is a vowel")
else:
  print(x,"is a consonant")

Enter your alphabet
A
A is a vowel

In [ ]:
x=int(input("Enter the year \n"))
if(x%4==0 and x%400==0 and x%100==0):
  print(x," is a leap year")
else:
  print(x,"is not a leap year")

Enter the year
2012
2012 is not a leap year

In [ ]:
x=int(input("Enter your number \n"))
if x>0:
  print("{0} is a positive number".format(x))
elif x==0:
  print("The entered number is zero")
else:
  print("{0} is a negative number".format(x))

Enter your number
8
8 is a positive number

In [ ]:
n=int(input("Enter a number:\n"))
if n<0:
  print("Enter any positive number")
else:
  sum=0
while (n>0):
  sum+=n
  n=n-1
print("The sum is",sum)

Enter a number:
5
The sum is 15

In [ ]:
num=int(input("Enter a number \n"))
factorial =1
if num<0:
  print("Factorial does not exist for negative numbers")
elif num ==0:
  print("The factorial of 0 is 1")
else:
  for i in range(1,num+1):
    factorial=factorial*i
  print("The factorial of",num,"is",factorial)

Enter a number
5
The factorial of 5 is 120

In [ ]:
n=int(input("Enter number of terms "))
a=0
b=1
count=0
if n<=0:
  print("Enter a positive integer")
elif n == 1:
  print("Fibonnaci sequence upto",n)
  print(a)
else:
  print("Fibonnaci sequence:")
  while (count<n:)
    print(a)
    c=a+b
    a=b
    b=c
    count+=1

Enter number of terms 7
Fibonnaci sequence:
0
1
1
2
3
5
8

In [ ]:
n=int(input("Enter number:"))
count=0
while(n>0):
  n=n//10
  count=count+1
print("Total number of digits:",count)

Enter number:12345
Total number of digits: 5

In [ ]:
num=int(input("Enter number:"))
n=int(input("power value:"))
power=num**n
print("power of number:",power)

Enter number:15
power value:2
power of number: 225

In [ ]:
n=int(input("Enter number:"))
rev=0;
while (n>0): 
  rem=n%10;
  rev=rev*10+rem;
  n=n//10;
print("Reverse of number:",rev);

Enter number:123
Reverse of number: 321

In [ ]:
x=int(input("Enter value of x:"))
y=int(input("Enter value of y:"))
temp=x
x=y
y=temp
print("The value of x after swapping:{}".format(x))
print("The value of y after swapping:{}".format(y))

Enter value of x:10
Enter value of y:5
The value of x after swapping:5
The value of y after swapping:10

In [ ]:
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
quotient=a//b
remainder=a%b
print("quotient is:" ,quotient)
print("remainder is:",remainder)

Enter the first number:30
Enter the second number:4
quotient is: 7
remainder is: 2

In [ ]:
n=int(input("Enter the number:"))
for i in range(1,21):
  print(n,"*",i,"=",n*i)

Enter the number:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

In [ ]:
n=int(input("Enter number:\n"))
temp=n
rev=0
while (n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
if (temp==rev):
  print("The number is a palindrome")
else:
  print("The number is not a palindrome")

Enter number:
212
The number is a palindrome

In [ ]:
a=int(input("Enter first number:\n"))
b=int(input("Enter second number:\n"))
if (a>b):
  min1=a
else:
  min1=b
while (1):
  if (min1%a==0 and min1%b==0):
    print("LCM of two numbers is:",min1)
    break
  min1=min1+1

Enter first number:
3
Enter second number:
5
LCM of two numbers is: 15